div {
    font-family: sans-serif;
    font-weight: lighter;
}

#reviews {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

    .reviewSummary {
        grid-row: 1/4;
        display: flex;
        flex-direction: column;

        .averageRating {
            font-weight: 900;
            font-size: xx-large;
            font-family: 'Trebuchet MS';
        }

        .averageRatingDisplay {
            display: flex;
            height: 1em;
            gap: 1em;
            align-items: center;
            margin-bottom: 10px;

            .star {
                height: 100%;
            }

            .empty-star {
                height: 75%;
            }
        }

        .recommend-percent {
            margin: 0px 10px 10px 0px;
        }

        .rating-breakdown {
            display: flex;
            align-items: center;

            .rating-breakdown-bar {
                margin-left: 10px;
                width: 240px;
            }
        }

        .product-breakdown {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            .product-breakdown-bar {
                width: 300px;
            }
        }
    }

    .reviewList {
        grid-row: 1/3;

        .review-tile {
            border-bottom: black;

            .rating-display {
                display: flex;
                height: 1em;
                align-items: center;
                margin: 20px 0px 10px 0px;

                .star {
                    height: 100%;
                }

                .empty-star {
                    height: 75%;
                }

                .review-info {
                    font-size: small;
                }

                .review-check-mark {
                    height: 1em;
                }
            }

            .review-title {
                font-weight: 900;
                font-size: large;
            }

            .review-body {
                margin: 10px 10px 10px 10px;
            }

            .helpful {
                display: flex;
                font-size: small;

                .helpful-clickable {
                    text-decoration: underline;
                    margin: 0px 5px 0px 5px;
                }
            }
        }
    }

    .write-review-modal {
        grid-row: 3/4;

        menu {
            justify-content: left;
            margin: 0px;
            padding: 0px;

            #write-review {
                font-size: large;
                font-family: sans-serif;
                font-weight: lighter;
                border-style:solid;
                background-color:whitesmoke;
                height: 100px;
                width: 100%;
            }
        }

        #write-review-dialog {

            div{
                margin-bottom: 10px;
            }

            label {
                margin-right: 5px;
                margin-left: 10px;
            }

            textarea {
                margin-left: 10px;
                margin-right: 10px;
                width: 95%;
            }

            .write-review-title {
                margin-bottom: 10px;
                width: 40%;
                font-weight: bold;
            }
        }
    }
}

#overview{
    width: 100em;
    height: 50em;
    position: relative;
}

#defaultView {
    position: relative;
    display: flex;
    height: 40em;
    width: 60em;
    left: 2em;
}

#defaultViewImages {
    display: flex;
    max-height: 100%;
    max-width: 50%;
    height: auto;
    width: 35%;
    background-color: #696969;
    align-items: center;
    justify-content: center;
}
#mainImage {
    cursor: zoom-in;
    display: absolute;
    position: relative;
    max-height: 100%;
    height: auto;
    width: 100%;
}

#expandedView {
    display: flex;
    position: relative;
    height: 40em;
    width: em;
    left: 20px;
    flex-direction: row;
}

#expandedViewImages {
    max-height: 100%;
    height: 100%;
    width: 70%;
    background-color: #696969;
    cursor: crosshair;
    left: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.revertToExpanded {
    position: absolute;
    height: 7%;
    width: 5%;
    top: 1%;
    right:2%;
    z-index: 2;
}

#expandedImg {
    max-height: 100%;
    max-width: 100%;
    flex-grow: 1;
    position: absolute;
}

#zoomedInImageContainer {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

#zoomedInImage {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: zoom-out;
}

#productDescription {
    display: flex;
    flex-direction: column;
    width: 60%
}

#productFeatures {
    display: flex;
    flex-direction: row;
    padding-left: 4em;
}


#productInfo {
    max-height: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}



#starRating {
    display: flex;
    height: 1em;
    gap: 1em;
    align-items: center;
    float: left;
}

.indStar {
    height: 100%;
    width: auto;
}

.weirdStar {
    height: 75%;
    width: auto;
}

.price {
    float: left;
    padding: 10px;
}

#salePrice {
    color: red;
    text-decoration: line-through;
}

#styleMarker {
    display: flex;
    flex-direction: row;
}

#styleList {
    display: flex;
    flex-direction: column;
}

.styleRow {
    display: flex;
    flex-direction: row;
}

.styleOptionContainer {
    width: 4em;
    height: 4em;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

.styleOption {
    display: inline;
    height: 100%;
    width: auto;
    margin: 0.5em;
}

#sizeSelector {
    width: 50%;
    height: 2em;
    margin: 2em 2em 2em 0em;
}

#quantitySelector {
    width: 25%;
    height: 2em;
}

#cartAndStar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cart {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    padding-left: 0.25em;
    border-style: solid;
    border-color: gray;
}


.cartElem {
    padding: 0.25em;
}

#faveStar {
    display: inline-block;
    border-style: solid;
    border-color: black;
    width:8%;
    max-height: 8%;
    margin-left: 10%;
    padding: 0.6%;
}

#thumbnailList {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 10px;
    gap: 70px;
    width: 60px;
    height: 100%;
}

#leftArrow {
    position: absolute;
    max-width: 30px;
    height: auto;
    top: 45%;
    left: 60px;
    z-index: 2;
}

#rightArrow {
    position: relative;
    max-width: 30px;
    height: auto;
    top: 45%;
    right: 30px;
    z-index: 2;
}

#expandedLeftArrow {
    position: absolute;
    max-width: 30px;
    height: auto;
    top: 45%;
    left: 10px;
    z-index: 2;
}

#expandedRightArrow {
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    height: auto;
    right: 30px;
    z-index: 2;
    top: 45%;
}

#upPhotoArrow {
    position: absolute;
    top: 10px;
    max-width: 50px;
    height: auto;
}

.thumbnail {
    position: absolute;
    flex: 17%;
    max-height: 60px;
    width: auto;
    height: auto;
    border-style: solid;
    border-color: white;
}

#downPhotoArrow {
    position: absolute;
    max-width: 50px;
    height: auto;
}

.selected {
    border-color: red;
}




/** COMPARISON COMPONENT**/

.relatedTitle, .outfitTitle {
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#relatedCarousel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px 20px;
    height: 400px;
    max-height: 400px;
    width: 75%;
    margin-left: 40px;
}

#outfitCarousel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px 20px;
    height: 400px;
    max-height: 400px;
    width: 75%;
    margin-left: 40px;
}

.scrollWrapper {
    max-height: 400px;
    display: flex;
    flex-wrap: none;
    overflow-x: scroll;
    overflow-y: none;
}

.listItem {
    flex: 0 0 auto;
    border: solid gray 0.05em;
    width: 12em;
    height: 94%;
    max-height: fit-content;
    min-height: fit-content;
    position: relative;
    align-items: stretch;
}

.relatedDetails  {
    position: absolute;
    bottom: 6%;
}

.category {
    margin-top: 0.50em;
    margin-bottom: 0.25em;
    margin-left: 0.75em;
    font-size: 0.85em;
    font-family: sans-serif;
    font: normal;
}

.compPrice {
    display: flex;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.75em;
    font-size: 0.85em;
    font-family: sans-serif;
    font: normal;
}
.salePrice {
    flex: auto;
}

.originalPrice {
    flex: auto;
    text-decoration: line-through;
}

.productName {
    font-family: sans-serif;
    margin-left: 0.70em;
    font-weight: bold;
    font-size: 0.85em;
}

.rating {
    position: absolute;
    height: 1em;
    gap: 0.5em;
    margin-left: 0.70em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ratingStar {
    font: 0.5em;
}

.starImg {
    max-height: 10%;
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 1.25em;
}

.xImg {
    max-height: 10%;
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 2em;
}

.relatedImg {
    min-height: 5em;
    height: auto;
    max-width: 12em;
    width: 100%;
    display: block;
    margin: auto;

}
.relatedImgBox {
    background-color: rgb(211, 208, 208);
    position: relative;
    display: flex;
    align-items: center;
    height: 18em;
    top: 0;
    left: 0;
}

.comparisonModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 9999;
}

.modalContent {
    width: 500px;
    background-color: #fff;
}

.modalHeader, .modalFooter {
    padding: 10px;
}

.modalTitle {
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    margin-bottom: 15px;
}

.modalBody {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    max-height: 150px;
    overflow-y: auto;
}

.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.starImg:hover, .plusImage:hover, .xImg:hover {
    cursor: pointer;
}

.addItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 auto;
    border: solid gray 0.05em;
    width: 12em;
    height: 94%;
    max-height: fit-content;
    min-height: fit-content;
    position: relative;
    align-items: stretch;
}

.addToOutfit {
    flex-direction: row;
    font-size: x-large;
    font-family: sans-serif;
    align-self: center;
    cursor:pointer
}

.plusImage {
    flex-direction: row;
    align-self: center;
    height: 5em;
    margin-top: 50%;
}

.featureRow {
    width:100%;
    display: flex;
    object-fit: contain;
    text-align: center;
    min-height: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.featureName {
    width: 100%;
    vertical-align: center;
    display:inline-block;
    flex-direction: row;
    font-family: sans-serif;
    font-weight: lighter;
}


.leftCheckContainer {
    vertical-align: left;
    margin-left: 5px;
    max-height: 5em;
    width: 10%;
    align-self: flex-start;
}

.rightCheckContainer {
    vertical-align: right;
    margin-right: 5px;
    max-height: 5em;
    width: 10%;
    align-self: flex-end;
}

.leftCheck, .rightCheck {
    max-width: 1em;
}

.modalProductNames {
    display: flex;
    position: relative;
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(48, 47, 47)
}

.relatedName {
    position: absolute;
    right: 0;
}
