h2 {
    color: aquamarine;
}

#overview{
    width: 100em;
    height: 50em;
    position: relative;
}

#defaultView {
    position: relative;
    display: flex;
    height: 40em;
    width: 60em;
    left: 2em;
}

#defaultViewImages {
    display: flex;
    max-height: 100%;
    max-width: 50%;
    height: auto;
    width: 35%;
    background-color: #696969;
    align-items: center;
    justify-content: center;
}
#mainImage {
    cursor: zoom-in;
    display: absolute;
    position: relative;
    max-height: 100%;
    height: auto;
    width: 100%;
}

#expandedView {
    display: flex;
    position: relative;
    height: 40em;
    width: em;
    left: 20px;
    flex-direction: row;
}

#expandedViewImages {
    max-height: 100%;
    height: 100%;
    width: 70%;
    background-color: #696969;
    cursor: crosshair;
    left: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


#expandedImg {
    max-height: 100%;
    max-width: 100%;
    flex-grow: 1;
    position: absolute;
}

#zoomedInImageContainer {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

#zoomedInImage {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

/* COMPARISON */
.relatedTitle, .outfitTitle {
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#relatedCarousel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px 20px;
    height: 400px;
    max-height: 400px;
    width: 75%;
    margin-left: 40px;
    /* margin: 0 auto; */
}

#outfitCarousel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px 20px;
    height: 400px;
    max-height: 400px;
    width: 75%;
    margin-left: 40px;
    /* margin: 0 auto; */
}

.scrollWrapper {
    max-height: 400px;
    display: flex;
    flex-wrap: none;
    overflow-x: none;
    overflow-y: none;
}

.listItem {
    flex: 0 0 auto;
    border: solid gray 0.05em;
    width: 12em;
    height: 94%;
    max-height: fit-content;
    min-height: fit-content;
    position: relative;
    align-items: stretch;
}

.relatedDetails  {
    position: absolute;
    bottom: 2%;
}

.category {
    margin-top: 0.50em;
    margin-bottom: 0.25em;
    margin-left: 0.75em;
    font-size: 0.85em;
    font-family: sans-serif;
    font: normal;
}

.price {
    display: flex;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.75em;
    font-size: 0.85em;
    font-family: sans-serif;
    font: normal;
}
.salePrice {
    flex: auto;
}

.originalPrice {
    flex: auto;
    text-decoration: line-through;
}

.productName {
    font-family: sans-serif;
    margin-left: 0.70em;
    font-weight: bold;
    font-size: 0.85em;
}

.rating {
    position: relative;
    height: 1em;
    gap: 0.5em;
    margin-left: 0.45em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ratingStar {
    font: 0.5em;
}

.starImg {
    max-height: 10%;
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 1.25em;
}

.xImg {
    max-height: 10%;
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 2em;
}

.relatedImg {
    min-height: 5em;
    height: auto;
    max-width: 12em;
    width: 100%;
    display: block;
    margin: auto;

}
.relatedImgBox /*.modalButton*/ {
    background-color: rgb(211, 208, 208); /*removing this takes the gray away */
    position: relative;
    display: flex;
    align-items: center;
    height: 18em;
    top: 0;
    left: 0;
}

.comparisonModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 9999;
}

.modalContent {
    width: 500px;
    background-color: #fff;
}

.modalHeader, .modalFooter {
    padding: 10px;
}

.modalTitle {
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    margin-bottom: 15px;
}

.modalBody {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    max-height: 150px;
    overflow-y: auto;
}

.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.starImg:hover, .plusImage:hover, .xImg:hover {
    cursor: pointer;
}

.addItem {
    flex: 0 0 auto;
    border: solid gray 0.05em;
    width: 12em;
    height: 94%;
    max-height: fit-content;
    min-height: fit-content;
}

.addToOutfit {
    position: relative;
    margin-left: 0.40em;
    margin-top: 0.25em;
    left: 10%;
    top: 30%;
    font-size: x-large;
    cursor:pointer
}

.plusImage {
    position: relative;
    margin-top: 5em;
    margin-left: 3.5em;
    height: 5em;
}

.featureRow {
    /* width:fit-content;*/
    display: flex;
    object-fit: contain;
    text-align: center;
}

.featureName {
    max-width: 80%;
    vertical-align: center;
    display:inline-block;
}

.featureRow > div {
    margin: 5px;
    max-width:max-content;
    /* justify-content: center; */
}

.checkContainer {
    vertical-align: right;
    max-height: 5em;
    width: 10%;
}

.leftCheck {
    max-height: 40%;
    max-width: 2em;
}

.rightCheck {
    max-height: 40%;
    max-width: 2em;
    margin-right: 5px;
    right: 0;
    float: right;
}

.modalProductNames {
    display: flex;
    position: relative;
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(48, 47, 47)
}

.relatedName {
    position: absolute;
    right: 0;
}





